{
  "extends": "airbnb",
  "rules": {
    "indent": ["error", 4, {
      "SwitchCase": 1
    }],
    "no-trailing-spaces": ["error", {
      "skipBlankLines": true
    }],
    "consistent-return": [0],
    "func-names": [0],
    "comma-dangle": [0],
    "no-continue": [0],
    "strict": [0],
    "no-shadow": [0],
    "max-len": ["error", {
      "code": 122
    }],
    "no-console": [0],
    "no-param-reassign": ["error", {
      "props": false
    }]
  }
}
